<div class="potato-middle-header navbar primary">
    <div class="container potato-header-border">
        <div class="navbar-header">
            <a class="navbar-brand potato-logo" href="/">
            	<h1 class="logo-text">Tài Chính Số</h1>
            	<small class="slogan">
            		Chúng tôi nói về FinTech
            	</small>
            </a>
        </div>

        <div class="h-border navbar-collapse is_dwqa">
            <ul class="nav navbar-nav navbar-right">
            	<li class="li-search-form">
               		<form class="navbar-form pull-right" role="search" method="get" action="#">
	                    <div class="input-group search-input">
	                        <input type="text" class="form-control" placeholder="Tìm Kiếm" value="" name="s" title="Search for:">
	                        <span class="input-group-btn">
	                        	<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
	                      	</span>
	                    </div>
	                </form>
                </li>								
            </ul>
			
			<div class="top-navigation navbar-collapse">
				<div class="container-menu">
					<ul class="navigation primary">
						<div class="menu-top-container">
							<ul id="primary-menu" class="sf-menu">
								<li class="menu-item menu-item-type-custom menu-item-object-custom">
									<a href="/">HOME</a>
								</li>
								<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
									<a href="/fintech">FINTECH</a>
								</li>
								<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children">
									<a href="/blockchain">BLOCKCHAIN</a>										
								</li>
								<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
									<a href="/cryptocurrency">CRYPTOCURRENCY</a>
									<ul class="sub-menu">
										<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
											<a href="/ico">ICO</a>
										</li>
										<li class="menu-item menu-item-type-custom menu-item-object-custom">
											<a href="/bieu-do-coin">BIỂU ĐỒ COIN</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children">
									<a href="/chung-khoan">CHỨNG KHOÁN</a>										
								</li>
								<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
									<a href="/cong-nghe">CÔNG NGHỆ</a>
								</li>
								<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
									<a href="/kinh-doanh">KINH DOANH</a>
								</li>
								<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
									<a href="#">LIÊN HỆ</a>
								</li>																		
							</ul>
						</div>
					</ul>
				</div>
			</div>
        </div>
        <!--/.nav-collapse -->
    </div>    
</div>