/* Core Style */

@font-face {
    font-family: 'Roboto Condensed';
    src: font-url("RobotoCondensed-Regular.ttf") format('truetype');
    font-weight: 300;
}

@font-face{
    font-family: 'Roboto Condensed';
    src: font-url('RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: 600;
}

body {
    font-family: 'Roboto Condensed';
    font-size: 15px;    
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
}

.aligncenter{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft{
    display: inline;
    float: left;
}

.alignright{
    display: inline;
    float: right;
}

figure{
    width: 100% !important;
}

:focus{
    outline: none !important;
}

.show-content img{
    max-width: 100%;
    /*width: 100%;*/
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.navbar{
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.navbar-header{
    height: 125px;   
}
.navbar-brand{
    margin-top: 15px;
}
.navbar-fixed-top{
    border: none;
}
ul.navbar-right  li a{
    color: #222;
    text-decoration: none;
    font-size: 14px;
}

ul.navbar-right  li a:hover{
    /*color: #f6d533;*/
    color: #009688;
    background-color: transparent;
}
.top-navigation{
  /*height: 40px;*/
  float: right;
  padding-right: 0;
  margin-top: 27px;
}

ul.navigation{
    margin: 0 0;
    padding:0 0;
    list-style: none;
}

ul.navigation li{
    float: left;
    padding: 0px 20px;
}

ul.navigation li a{
    color: #000;
    line-height: 40px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Roboto Condensed';
}
ul.navigation li.active{
    background-color: #000;
    border-collapse: collapse;
}
ul.navigation li.active a{
    color: #333;
}
.top-navigation .navbar-form{
    padding-right: 0px;
}
.top-navigation .input-group.search-input input[type='text']{
    height: 24px;
    width: 160px;
    border: none;
    border-radius: 0px;
    font-size: 12px;
}
.top-navigation .input-group.search-input  button{
    border: none;
    border-radius: 0px;
    background-color: #f4c402;
    height: 24px;
    width: 24px;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    padding: 0 0;
}
.top-content{
    /*border-bottom:1px solid #ddd;*/
    padding-bottom: 10px;
}
/* Webpart: Start */
.wp-panel{
    /*margin-top:30px;*/
}
.wp-panel .wp-header{
    /*border-left:4px solid #ffcb33;*/
    color: #333;
    font-size: 16px; 
    /*padding-left:10px;*/
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
}
/* Webpart: End */
/* Weekly headline: Start */
.list-article .article-item{
    border-top: 1px solid #bbb;
}
.article-item .thumb, .article-item .article{
   display: table-cell;
   padding: 8px 0px;
   vertical-align: top;
}
.article-item .thumb{
    max-width: 58px;
    max-height: 58px;
    overflow: hidden;
    text-align: center;
}
.article-item .article{
    padding-left: 10px;
}
.article-item .article .publishDate{
    color: #999;
    font-size: 10px;
    margin-top: 5px;
}
.article-item .article .title a{
    font-size: 14px;
    line-height: 18px;
    color: #333;
    font-weight: 500;
    text-decoration: none;
}
.article-item .article .title a:hover{
    color: #4178be;
}

/* Weekly headline: End */
/* Top News: Start */

#carousel-generic .carousel-inner .item{
    overflow: hidden;
    height: 390px;
    max-width: 100%;
     
}
.carousel-inner .item IMG{
    height: 100%;
    max-width: none;    
}
.carousel-caption{
    text-align: left;
    width: 100%;
    margin: 0px 0px;
    padding: 0px 30px;
    left: 0px;
    right: 0;
    font-size: 28px;
    line-height: 36px;
}
.carousel-caption a{
    color: white;
    text-decoration: none;
}
.carousel-caption a:hover{
    color: #f4c402;
}
.cat-badge a{
    background-color: #f4c402;
    display: table;
    padding: 2px 15px;
    color: #333;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}
.carousel-indicators{
    margin-bottom: 0px;
    bottom: 2px;
}
/* Top News: End */
/* Others News: Start */
.listNews .newsItem .thumb{
    height: 120px;
    max-width: 100%;
    max-height: 120px;
    overflow: hidden;
    margin-bottom: 5px;
}

.listNews .newsItem .publishDate{
    color: #999;
    font-size: 10px;
     margin-bottom: 5px;
}
.listNews .newsItem .title a{
    font-size: 14px;
    line-height: 18px;
    color: #333;
    font-weight: 500;
    text-decoration: none;
}
.listNews .newsItem .title a:hover{
    color: #4178be;
}
.wp-panel .wp-header .carousel-controls{
    float: right;
    display: table;
}
.wp-panel .wp-header .carousel-controls a{
    background-color: #ffcb33;
    padding: 2px 10px;
    margin-left: 1px;
    font-size: 13px;
    color: #333;
    width: 24px;
}
/* Others News: End */

/* Latest Media: Start */
.latestMedia{
    position:relative;
}
.latestMedia .thumb{
    max-width: 100%;
    height: 140px;
    overflow: hidden;
}

.latestMedia .title{
    position: absolute;
    bottom: 5px;
    color: white;
    font-size: 16px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.latestMedia .title a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0px 1px 5px rgba(0,0,0,1);
}
.latestMedia .title a:hover{
    color: #f4c402;
}
/* Others News: End */

/* Main News: Start */
.newsList .newsItem, .newsList .newsItem-lg{
    margin-bottom: 30px;
    height: 320px;
    overflow: hidden;
}
.newsList .newsItem .thumb{
    max-width: 100%;
    max-height: 152px;
    overflow: hidden;
}
.newsList .newsItem-lg .thumb{
    height: 350px;
    width: 50%;
    padding-right: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}
.newsList .newsItem-lg .thumb IMG{
    height: 100%
}
.newsList .newsItem .cat-badge a,
.newsList .newsItem-lg .cat-badge a{
    position: absolute;
    background-color: #ffcb33;
    padding: 2px 10px;
    top: 0px;
}
.newsList .newsItem .social,
.newsList .newsItem-lg .social{
    position: absolute;
    top: 134px;
    color: #ffcb33;
    padding: 2px 10px;
    background-color: rgba(0,0,0,0.4)
}
.newsList .newsItem-lg .social{
    top: auto;
    bottom: 30px;
}
.newsList .newsItem .article,
.newsList .newsItem-lg .article{
    padding: 15px 5px 0 0 ;
}
.newsList .newsItem-lg .article{
    float: left;
    width: 50%;
}
.newsList .newsItem .article .publishDate,
.newsList .newsItem-lg .article .publishDate{
    color: #999;
    font-size: 14px;
}
.newsList .newsItem .article .title,
.newsList .newsItem-lg .article .title{
    margin-bottom: 5px;
    font-family: 'Roboto Condensed';
}
.newsList .newsItem .article .title a,
.newsList .newsItem-lg .article .title a{
    color: #222;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;

}
.newsList .newsItem .article .title a:hover,
.newsList .newsItem-lg .article .title a:hover{
    /*color: #eba600;*/
    color: #009688;
}

/*  Knowledge List: Start */
.list-knowledge ul{
    border-top: 1px solid #aaa;
    margin: 0 0;
    padding: 0 0;
    padding-top: 20px;
    list-style: none;
}
.list-knowledge ul li{
    margin-bottom: 15px;
    position: relative !important;
}

.list-knowledge ul li i{
    float: left;
    position: relative;
    top: 3px;
}
.list-knowledge ul li a{
    line-height: 18px;
    font-weight: bold;
    margin-left: 24px;
    padding-bottom: 16px;
    display: block;
    color: #333;
    text-decoration: none;
}
.list-knowledge ul li a:hover{
    color: #4178be;
}
/*  Knowledge List: End */

/* Community List: Start */
.list-community .community-item{
    border-top: 1px solid #aaa;
    padding: 10px 0px;
}
.list-community .community-item > div{
    display: table-cell;
}
.list-community .community-item > div.topic a{
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
.list-community .community-item > div.topic a:hover{
    color: #4178be;
}
.list-community .community-item > div.comment-amount{
    background-color: #ffcb33;
}

.list-community .community-item > div.comment-amount{
    color: #333;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    height: 50px;
    width: 50px;
    padding: 0px 10px;
}
.list-community .community-item > div.comment-amount i{
    font-size: 24px;
    line-height: 30px;
}
/* Community List: End */
/* Footer: Start */
.footer{
    background-color: #222;
    padding-top: 40px;
    color: #fff;
    padding-bottom: 40px;
}

.potato-footer-content-right{
    padding-top: 20px;
}

.footer .potato-think{
    font: 300 20px 'Roboto Condensed';
    margin-bottom: 15px;
}

.footer .potato-des{
    color: #999;
    font: 400 14px/22px 'Roboto Condensed';
    margin-bottom: 30px;
    max-width: 605px;
}

.potato-footer-line{
    width: 100%;
    height: 1px;
    float: left;
    background-color: #555;
}
.footer ul{
    margin: 0 0;
    padding: 0 0;
    list-style: none;
}

.footer .potato-footer-menu{
    padding-bottom: 50px;
}

.footer ul.potato-footer-menu li{
    list-style: inside;
    padding-left: 0;
    margin-bottom: 10px;
}

.footer ul li a{
    color: #fff;
    text-decoration: none;
    font: 300 16px/24px 'Roboto Condensed';
    transition: all 0.2s ease-in-out;
}
.footer ul li a:hover{
    color: #009688;
    padding-left: 5px;
    transition: all 0.2s ease-in-out;
}
.footer .privacy{
    border-top: 1px solid #ffcb33;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
}
.footer .privacy a{
    color:#82858a;
}
.footer .copywrite{
    float: left;
    width: 100%;
    margin-top: 30px;
}
.potato-copyright{
    font: 300 14px 'Roboto Condensed';
    margin-top: 15px;
    float: left;
}
/* Footer: End */

/* News List: Start */
.pageBreadcrumb{
    margin-top: 16px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 8px;
}

.pageBreadcrumb i{
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #888;
}

.pageBreadcrumb a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    color: #333;
    font-weight: 500;
}

.pageBreadcrumb a:hover{
    text-decoration: none;
    color: #4178be;
}

.pageTitle{
    font-size: 36px;
    line-height: 48px;
    margin-top: 15px;
    font-weight: 600;
    display: table;
    /*border-top:1px solid #ffcb33;*/
    padding-top: 5px;
    /*margin-bottom: 5px;*/
}

.pageProperties{
    color: #999;
    margin-bottom: 20px;
}

.newsPaging{
    padding: 15px 0px;
    margin-bottom: 15px;
}

a.btn.nextPage, a.btn.previousPage{
    padding: 5px 20px;
    background-color: #dedede;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: #333;
}

a:hover.btn.nextPage, 
a:focus.btn.nextPage,
a:hover.btn.previousPage,
a:focus.btn.previousPage{
    background-color: #ffcb33;
}
/* News List: End */

/* News Detail: Start */
.newsImage{
    height: 360px;
    background-size: 100% auto;
}

.newsImage-caption{
    background-color: #ddd;
    padding: 8px 15px;
    color: #555;
}

.newsDetail p{
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0px;
}

.newsDetail .wp-panel .wp-header{
    font-size: 14px;
}

.newsDetail .thumb-panel{
    float: right;
    max-width: 300px;
    max-width: 300px;
    margin: 15px 30px
}

.newsDetail .thumb-panel .thumb{
    min-height: 150px;
    background-size: 100% auto;
}

.newsDetail .thumb-panel .thumb-caption{
    background-color: #ddd;
    padding: 5px 10px;
    font-size: 11px;
}

.newsTags{
    border-top: 4px solid #e8e9e9;
    padding: 10px 0px;
    /*line-height: 2.5;*/
    float: left;
    width: 100%;
}

.newsTags span{
    color: #333;
    font-weight: 700;
    font-size: 19px;
}

.newsTags .comment-meta a:hover,
.newsTags .comment-meta a{
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #0000ff;
}

.newsTags .comment-meta .reply{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.newsTags .comment-meta .reply a,
.newsTags a{
    background-color: #e8e9e9;
    padding: 3px 10px;
    font-size: 15px;
    margin: 0px 5px 5px;
    color: #222;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none;
    float: left;
}

.newsTags .comment-meta .reply a{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin: 0 0 15px;
}

.newsTags .comment-meta .reply a:hover,
.newsTags a:hover{
    background-color: #009688;
    color: #fff;
}

.reletedArticles ul{
    list-style: none;
    margin: 0 0;
    padding: 0 0;
}

.reletedArticles ul li{
    padding: 10px 0px;
    border-top: 1px solid #aaa;
}

.reletedArticles ul li a{
    color: #333;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}

.reletedArticles ul li a:hover{
    color: #4178be;
}

.newsComments{
    margin-bottom: 30px;
}

.newsComments .wp-header{
    color: #222;
    font-size: 15px; 
    margin-top: 15px;
    font-weight: 500;
}

.newsComments .wp-header i{
    width: 24px;
    height: 21px;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-right: 5px;
    background-position: center center;
    background-image: image-url('i-comment.png');
}

.commentList ul{
    list-style: none;
    margin: 15px 0;
    padding: 0 0;
}

.commentList ul li{
    margin-bottom: 30px;
}

.commentList ul ul{
    margin-left: 65px;
    margin-top: 30px;
}

.avatarContent{
    display: table-cell;
    vertical-align: top;
}

.avatar{
    height: 50px;
    width: 50px;
    background-size: 100% auto;
    background-color: #eee;
  
}

.commentContent{
    display: table-cell;
    padding-left: 15px;
}

.commentContent .properties > div{
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color: #555; 
}

.commentContent .properties > div.postTime{
    color: #888;   
}

.commentContent .properties{
    margin-bottom: 5px;
}

.commentContent .comment{
    font-size: 15px;
}

.commentContent .actions{
    margin-top: 5px;
    font-weight: 500;
}

.commentContent .actions i{
    color: #ff5050;
}

#reply-title.comment-reply-title{
	display: none;
}

.comment-input{
    width: 100%;
	padding: 5px;
    border: 1px solid #eee;
}
/* News Detail: End */
