/* ============================ Potato Responsive ==========================*/

@media (min-width: 1200px){
	.container {
    	width: 1200px;
    }
}

@media only screen and (max-width: 1024px){
	body{
		max-width: 1170px;
        width: 1170px;
	}
}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 800px){
	/*.is_dwqa .nav.navbar-nav.navbar-right{
		display: none;
	}*/
	
	.sme-sidebar-home .sme_skills{
		padding-left: 0 !important;
	}

	.is_dwqa .navbar-nav{
		margin: 0;
	}

	.is_dwqa .top-navigation{
		margin-top: 0;
	}

	.sme-sidebar-home .sme_skills:before,
	.li-search-form{
		display: none !important;
	}

	.cucumber-logo, .potato-icon-lang{
		float: right;
	}
}

@media only screen and (max-width: 768px){}

@media only screen and (max-width: 740px){

	/*.newsList .potato-row-home .innerWrap.item2 .newsItem, 
	.newsList .potato-row-home .innerWrap.item3 .newsItem, 
	.newsList .potato-row-home .innerWrap.item4 .newsItem,
	.home-panel-events-listing.home-panel .newsList .newsItem,
	.newsList .potato-row-home .newsItem{
		height: auto;
	}*/

	/*.event-countdown-container .time{
		border-radius: 0 !important;
		-moz-border-radius: 0 !important;
		-webkit-border-radius: 0 !important;
	}*/

}

@media only screen and (max-width: 640px){

	/*.seminar-home-panel .list-knowledge .widget-seminar-des,
	.seminar-home-panel .list-knowledge .widget-seminar-right{
		width: 100% !important;
	}

	.seminar-home-panel .list-knowledge .widget-seminar-right{
		margin-top: 30px !important;
	}*/
}

@media only screen and (max-width: 600px){}

@media only screen and (max-width: 568px){

	/*.wp_panel-potato-talking .blog-potato-talking.newsList .blog-col-lefts .thumbnail:after{
		left: calc( 45% - 30px );
	}*/
}

@media only screen and (max-width: 480px){}

@media only screen and (max-width: 320px){}