<div class="row">
	<div class="container">
		<div class="gum_breadcrumb">
			<a class="c-blue stream_line" href="#">HOME</a>
			<i></i>
			<a class="c-blue is_current" href="#"><%= @name %></a>
		</div>
	</div>
	<!--=============== Blog Event ================-->
	<div class="col-md-12 main-content col-h">
        <div class="row">
        	<!--=============== First Post ================-->
            <div class="col-md-12">         
                <div class="wp-panel">
					<div class="newsList potato-blog-event">
						<div class="row potato-row-event">
							<div class="innerWrap">
							    <div class="col-md-12 potato-item-special">
	        						<div class="newsItem newsItem-lg">
		        						<a rel="bookmark" href="/<%= @firstPost.category.slug %>/<%= @firstPost.slug %>.html">
			        						<div class="thumb">
			        							<%= image_tag @firstPost.image.url, width: "100%" %>
			        						</div>
		        						</a>
		        						<div class="article">				        
		        							<div class="publishDate"><%= @firstPost.created_at.to_time.strftime('%d/%m/%Y') %></div>
	            							<div class="title">
	            								<a href="/<%= @firstPost.category.slug %>/<%= @firstPost.slug %>.html" rel="bookmark">
	            									<%= @firstPost.title %>
	            								</a>
	            							</div>
            								<div class="description">
            									<%= @firstPost.description %>
            								</div>
	        							</div>
	        						</div>
	    						</div>
							</div>		
						</div>
					</div>
				</div>
    		</div>
    		<!--=============== End First Post ================-->
    		<div class="col-md-12">
        		<div class="row">
            		<div class="col-md-9 col-b-inner-listing">
                		<div class="wp-panel wp-panel-potato-event-listing potato-category">
							<div class="newsList potato-blog-event">
								<div class="row listing">
									<div class="col-md-12">
										<div class="row innerRow">
											<!--=============== First 3 Posts ================-->
											<% @secondPosts.each do |p| %>
											<div class="innerWrap">
	    										<div class="col-md-4 blog-col-right">
	        										<div class="newsItem ">
												        <a rel="bookmark" href="/<%= p.category.slug %>/<%= p.slug %>.html">
													        <div class="thumb">
													        	<%= image_tag p.image.url, width: "100%" %>
													        </div>
												        </a>
		        										<div class="article">
		        											<div class="publishDate"><%= p.created_at.to_time.strftime('%d/%m/%Y')%></div>
		            										<div class="title">
		            											<a href="/<%= p.category.slug %>/<%= p.slug %>.html" rel="bookmark"><%= p.title %></a>
		            										</div>
												        </div>
	        										</div>
	    										</div>
											</div>
											<% end %>
											<!--=============== End 3 Posts ================-->
											<!--=============== List Posts ================-->
											<% @listPost.each do |p| %>
											<div class="innerWrap">
	    										<div class="col-md-12 blog-col-right p-normal">
	    											<div class="newsItem ">
												        <a rel="bookmark" href="/<%= p.category.slug %>/<%= p.slug %>.html">
													        <div class="thumb">
													        	<%= image_tag p.image.url, width: "100%" %>
													        </div>
												        </a>
		        										<div class="article">
		        											<div class="publishDate"><%= p.created_at.to_time.strftime('%d/%m/%Y')%></div>
		            										<div class="title">
		            											<a href="/<%= p.category.slug %>/<%= p.slug %>.html" rel="bookmark" rel="bookmark">
		            												<%= p.title %>
		            											</a>
		            										</div>				            
		            										<div class="description">
		            											<%= replace_text(p.description) %>
		            										</div>
		        										</div>
	        										</div>
	    										</div>
											</div>
											<% end %>
											<!--=============== List Posts ================-->
 										<!-- end posts -->
										</div> <!-- end row -->	
									</div> <!-- end col-md-12 -->
								</div> <!-- end row -->
							</div>
						</div>
						<div id="more_posts">
							<span class="btn-viewmore">VIEW MORE</span>
						</div>
					</div>
            		<div class="col-md-3 potato-single-sidebar">
						<div class="wp-panel widget-panel widget-seminar">
							<div class="wp-header">
								<span class="widget-seminar-title">ICO UPCOMING</span>
							</div>
							<div class="wp-content">
								<div class="list-knowledge">
					                <div class="widget-post-seminar">
            							<div class="rows">
					                        <div class="widget-seminar-des">
					                            <a class="seminar-title" href="#" rel="bookmark">
					                            	<img id="coin-upcoming-img" src="<%= @firstCoin.image.url %>"> <%= @firstCoin.name %>
					                            </a>
				                                <div class="widget-seminar-venue pull-left">
				                                    <div class="seminar-block seminar-time">
				                                        <i class="fa fa-calendar-check-o fa-2x" aria-hidden="true"></i>
				                                        <div class="seminar-col-right">         	
				                                            <strong>ICO date:</strong>
				                                            <div class="seminar-date-time">                     
                                        						<span class="seminar-start-date"><%= @firstCoin.ico_from.to_time.strftime('%d.%m.%Y') %> - <%= @firstCoin.ico_to.to_time.strftime('%d.%m.%Y') %></span>		
                                							</div>
				                                        </div>
                            						</div>
                            						<div class="seminar-block seminar-venue">
				                                        <i class="fa fa-calendar-check-o fa-2x" aria-hidden="true"></i>
				                                        <div class="seminar-col-right">
				                                            <div class="seminar-venue-title">
				                                                <strong>Industry:</strong>
				                                            </div>
				                                            <div class="seminar-venue">
				                                                <%= @firstCoin.industry %>
                						                   </div>
				                                        </div>
				                                    </div>
				                                    <div class="seminar-block seminar-venue">
				                                        <i class="fa fa-calendar-check-o fa-2x" aria-hidden="true"></i>
				                                        <div class="seminar-col-right">
				                                            <div class="seminar-venue-title">
				                                                <strong>Website:</strong>
				                                            </div>
				                                            <div class="seminar-venue">
				                                                <a href="<%= @firstCoin.website %>" target="_blank"><%= @firstCoin.website %></a>
                						                   </div>
				                                        </div>
				                                    </div>
				                                </div>
                        						<div class="seminar-join-event">
                            						<a class="seminar-join" href="<%= @firstCoin.website %>" target="_blank">GO !!!</a>
                        						</div>                            
                							</div>                        
            							</div>
        							</div>            
								</div>
							</div>
						</div>
						<div class="wp-panel widget-panel potato-widget-panel">
							<div class="wp-header">
								<span class="potato-widget-title">Events</span>
							</div>
							<div class="wp-content">
								<div class="list-knowledge">        	
        							<div class="widget-post-item classPri">                    
                						<div class="widget-thumb potato-widget-first">
                    						<a href="#" class="widget-thumbnail" style="background-image: url(&#39;https://potato.fsoft.com.vn/wp-content/uploads/2017/12/3-2.jpg&#39;);">
                   							</a>
                						</div>                    
            							<div class="potato-widget-datetime">                        
                    						<div class="publishDate a-default">
												<a href="#">blockchain</a>
                                            </div>                        
            							</div>
            							<a class="widget-title" href="#" rel="bookmark">FSG Sở Hữu Chứng Chỉ Chuyên Sâu Về BlockChain Đầu Tiên</a>                
            						</div>            
        							<div class="widget-post-item classPri">
            							<div class="potato-widget-datetime">                        
                    						<div class="publishDate a-default"></div>                        
            							</div>
            							<a class="widget-title" href="#" rel="bookmark">FPT Software Tự Tin Phát Triển Ngành Công Nghệ Ô Tô Với Chứng Chỉ A-SPICE</a>  
            						</div>            
        							<div class="widget-post-item classPri">                    
            							<div class="potato-widget-datetime">                        
                    						<div class="publishDate a-default">
                    							<a href="https://potato.fsoft.com.vn/tag/akaminds-vi/">Akaminds</a>
                                            </div>                        
            							</div>
            							<a class="widget-title" href="#" rel="bookmark">FSOFT Giới Thiệu Akaminds Tại Hội Chợ Triển Lãm Inter BEE Nhật Bản</a>        
            						</div>            
								</div>
						    </div>
						</div>                        

						<div class="wp-panel widget-panel wp-wrap-guru wp-trending">
							<div class="wp-header potato-home-border">
								<span class="widget-guru-titles potato-home-title">Top Tech360</span>
							</div>
							<div class="wp-content">
								<div class="list-knowledge">
        							<div class="widget-post-guru">
            							<div class="row">
                							<span class="col-md-2 col-xs-2 top_number">1</span>
                							<span class="widget-guru-des">
                    							<a href="#" rel="bookmark">Trump Ký Lệnh Cấm Các Cơ Quan Liên Bang Sử Dụng Sản Phẩm Của Kaspersky Lab</a>
                    							<span class="potato-view-count pull-left">
					                                <span class="pull-right">
					                                    17 views
					                                </span>
                            						<i class="zmdi zmdi-eye pull-right"></i>
                    							</span>
                    						</span>                        
            							</div>
        							</div>            
        							<div class="widget-post-guru">
            							<div class="row">
                							<span class="col-md-2 col-xs-2 top_number">2</span>
            								<span class="widget-guru-des">
                								<a href="#" rel="bookmark">Google Mở Văn Phòng Mới Ở Trung Quốc Chuyên Nghiên Cứu Trí Tuệ Nhân Tạo</a>
					                            <span class="potato-view-count pull-left">
					                                <span class="pull-right">
					                                    65 views
					                                </span>
					                                <i class="zmdi zmdi-eye pull-right"></i>
					                            </span>
	                        				</span>                        
            							</div>
        							</div>
        							<div class="widget-post-guru">
            							<div class="row">
                							<span class="col-md-2 col-xs-2 top_number">3</span>
            								<span class="widget-guru-des">
                								<a href="#" rel="bookmark">Google Mở Văn Phòng Mới Ở Trung Quốc Chuyên Nghiên Cứu Trí Tuệ Nhân Tạo</a>
					                            <span class="potato-view-count pull-left">
					                                <span class="pull-right">
					                                    65 views
					                                </span>
					                                <i class="zmdi zmdi-eye pull-right"></i>
					                            </span>
	                        				</span>                        
            							</div>
        							</div>
        							<div class="widget-post-guru">
            							<div class="row">
                							<span class="col-md-2 col-xs-2 top_number">4</span>
            								<span class="widget-guru-des">
                								<a href="#" rel="bookmark">Google Mở Văn Phòng Mới Ở Trung Quốc Chuyên Nghiên Cứu Trí Tuệ Nhân Tạo</a>
					                            <span class="potato-view-count pull-left">
					                                <span class="pull-right">
					                                    65 views
					                                </span>
					                                <i class="zmdi zmdi-eye pull-right"></i>
					                            </span>
	                        				</span>                        
            							</div>
        							</div>
        							<div class="widget-post-guru">
            							<div class="row">
                							<span class="col-md-2 col-xs-2 top_number">5</span>
            								<span class="widget-guru-des">
                								<a href="#" rel="bookmark">Google Mở Văn Phòng Mới Ở Trung Quốc Chuyên Nghiên Cứu Trí Tuệ Nhân Tạo</a>
					                            <span class="potato-view-count pull-left">
					                                <span class="pull-right">
					                                    65 views
					                                </span>
					                                <i class="zmdi zmdi-eye pull-right"></i>
					                            </span>
	                        				</span>                        
            							</div>
        							</div>
								</div>
							</div>
						</div>								
            		</div>
        		</div>
    		</div>
		</div>
	</div>
</div>