<div class="row">                
    <div id="content" class="container">
        <div class="row">
            <div class="col-md-12 main-content">
                <div class="row"> 
                    <div class="col-md-9">
                        <div class="potato-single-title">
                            <div class="pageTitle">
                                <%= @post.title %>
                            </div>
                            <div class="pageProperties "><%= @post.created_at.to_time.strftime('%d/%m/%Y') %></div>
                        </div>
                        <div class="wp-panel">
                            <div class="newsDetail">
                                <div class="row">
                                    <div class="col-md-12">                
                                        <div class="newsImage">
                                            <%= image_tag @post.image.url, class: "newsThumb" %>
                                        </div>
                                    </div>
                                    <div class="col-md-12 potato-block-content">
                                        <p>
                                            <em>
                                                <strong>
                                                    <%= @post.description %>
                                                </strong>
                                            </em>
                                        </p>
                                        <%= @post.content.html_safe %>                                        	
                                    </div>
                                </div>
                            </div>
                            <div class="newsTags">
                                <div class="row">
                                    <div class="potato-single-bottom col-md-12">              
                                        <span class="pull-left potato-tag-title">Tags</span>
                                        <a href="#" title="Advanced Security Management Tag" class="advanced-security-management">Advanced Security Management</a>
                                        <a href="#" title="Akaminds Tag" class="akaminds-vi">Akaminds</a>
                                        <a href="#" title="cybersecurity Tag" class="cybersecurity">cybersecurity</a>
                                        <a href="#" title="Kaspersky Lab Tag" class="kaspersky-lab">Kaspersky Lab</a>
                                        <a href="#" title="Security Tag" class="security-vi">Security</a>
                                        <a href="#" title="Tech 360 Tag" class="tech-360-vi">Tech 360</a>
                                        <a href="#" title="Trump Tag" class="trump-vi">Trump</a>
                                    </div>
                                    <div class="potato-comment-layout col-md-12">                
                                        <div class="newsComments row">
                                            <div class="col-md-12">
                                                <div class="wp-header pull-left">
                                                    <i class="pull-left i-comment"></i>
                                                    <span class="potato-all-comment">
                                                        <a role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseComment">
                                                            Comments <strong>(0)</strong>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div id="collapseComment" class="collapse commentBox col-md-12">
                                            	<div id="respond" class="comment-respond">
                                                    <h3 id="reply-title" class="comment-reply-title"> 
                                                        <small>
                                                            <a rel="nofollow" href="#" style="display:none;">Cancel</a>
                                                        </small>
                                                    </h3>			
                                                    <form action="#" method="post" id="commentform" class="comment-form" novalidate="">
	                                                    <p class="comment-notes">
                                                            <span id="email-notes">Your email address will not be published.</span> 
                                                            Required fields are marked 
                                                            <span class="required">*</span>
                                                        </p>
                                                        <p class="comment-form-comment">
                                                            <textarea 
                                                                id="comment" 
                                                                name="comment" 
                                                                class="comment-input" 
                                                                rows="4" 
                                                                placeholder="Comment*" 
                                                                aria-required="true">
                                                            </textarea>
                                                        </p>
                                                        <p class="comment-form-author">
                                                            <input 
                                                                id="author" class="comment-input" 
                                                                name="author" type="text" placeholder="Name*" 
                                                                size="30" aria-required="true">
                                                        </p>
                                                        <p class="comment-form-email">
                                                            <input 
                                                                id="email" class="comment-input" 
                                                                name="email" type="text" placeholder="Email*" 
                                                                size="30" aria-required="true">
                                                        </p>
                                                        <p class="form-submit">
                                                            <input 
                                                                name="submit" type="submit" id="submit" 
                                                                class="submit" value="Post"> 
                                                            <input 
                                                                type="hidden" name="comment_post_ID" 
                                                                value="57990" id="comment_post_ID">
                                                            <input 
                                                                type="hidden" name="comment_parent" 
                                                                id="comment_parent" value="0">
                                                        </p>			
                                                    </form>
                                                </div><!-- #respond -->
                                                <div class="commentList">
                                                    <ul>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>       
                        </div>
                        <div class="potato-related-article pull-right">
                        	<span class="potato-related-title">Related Articles</span>                
                            <div class="row">
            		            <div class="col-md-4 widget-post-item">
                                    <div class="widget-thumb">		                            	
                                        <a 
                                            class="pull-left widget-thumbnail" href="#" 
                                            style="background-image: url(https://potato.fsoft.com.vn/wp-content/uploads/2017/12/screen_shot_2017-12-08_at_2.20.45_pm.png)">
                                        </a>
                                    </div>
                        	        <div class="potato-related-date">
                        		        <span class="potato-related-tag">
                                            <span class="publishDate a-default">
                                                <a href="#tag/airbnb-vi/">Airbnb</a>
                                            </span>
                                        </span>
                                        <span class="potato-related-datetime">
                                            <span class="potato-space"> | </span>15/12/2017
                                        </span>
                        	        </div>
                                    <a class="potato-title-article" href="#" rel="bookmark">Airbnb Tích Hợp VR Để Khách Trọ Tham Quan Chỗ Thuê Trước</a>
                                </div>
                                <div class="col-md-4 widget-post-item">
                                    <div class="widget-thumb">		                            	
                                        <a 
                                            class="pull-left widget-thumbnail" href="#" 
                                            style="background-image: url(https://potato.fsoft.com.vn/wp-content/uploads/2017/12/screen_shot_2017-12-08_at_2.20.45_pm.png)">
                                        </a>
                                    </div>
                                    <div class="potato-related-date">
                                        <span class="potato-related-tag">
                                            <span class="publishDate a-default">
                                                <a href="#tag/airbnb-vi/">Airbnb</a>
                                            </span>
                                        </span>
                                        <span class="potato-related-datetime">
                                            <span class="potato-space"> | </span>15/12/2017
                                        </span>
                                    </div>
                                    <a class="potato-title-article" href="#" rel="bookmark">Airbnb Tích Hợp VR Để Khách Trọ Tham Quan Chỗ Thuê Trước</a>
                                </div>
                                <div class="col-md-4 widget-post-item">
                                    <div class="widget-thumb">		                            	
                                        <a 
                                            class="pull-left widget-thumbnail" href="#" 
                                            style="background-image: url(https://potato.fsoft.com.vn/wp-content/uploads/2017/12/screen_shot_2017-12-08_at_2.20.45_pm.png)">
                                        </a>
                                    </div>
                                    <div class="potato-related-date">
                                        <span class="potato-related-tag">
                                            <span class="publishDate a-default">
                                                <a href="#tag/airbnb-vi/">Airbnb</a>
                                            </span>
                                        </span>
                                        <span class="potato-related-datetime">
                                            <span class="potato-space"> | </span>15/12/2017
                                        </span>
                                    </div>
                                    <a class="potato-title-article" href="#" rel="bookmark">Airbnb Tích Hợp VR Để Khách Trọ Tham Quan Chỗ Thuê Trước</a>
                                </div>                          
                            </div> <!-- End Row -->
                        </div> <!-- End Related Article -->
                    </div>
                    <div class="col-md-3 potato-single-sidebar">
                            <div class="wp-panel widget-panel potato-widget-panel">
                                <div class="wp-header">
                                    <span class="potato-widget-title">Top News</span>
                                </div>
                                <div class="wp-content">
                                    <div class="list-knowledge">
                                        <% @listTop3PostInCat.each_with_index do |p,index| %>
                                            <div class="widget-post-item classPri">                    
                                                <% if index == 0 %>
                                                <div class="widget-thumb potato-widget-first">
                                                    <a href="#" class="widget-thumbnail" 
                                                        style="background-image: url(&#39;<%= p.image.url %>&#39;);">
                                                   </a>
                                                </div>             
                                                <% end %>
                                                <div class="potato-widget-datetime">                        
                                                    <div class="publishDate a-default">
                                                        <a href="#">blockchain</a>
                                                    </div>                        
                                                </div>
                                                <a class="widget-title" href="/<%= p.category.slug %>/<%= p.slug %>" rel="bookmark"><%= p.title %></a>                
                                             </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>                        

                            <div class="wp-panel widget-panel wp-wrap-guru wp-trending">
                                <div class="wp-header potato-home-border">
                                    <span class="widget-guru-titles potato-home-title">Top Tech360</span>
                                </div>
                                <div class="wp-content">
                                    <div class="list-knowledge">
                                        <div class="widget-post-guru">
                                            <div class="row">
                                                <span class="col-md-2 col-xs-2 top_number">1</span>
                                                <span class="widget-guru-des">
                                                    <a href="#" rel="bookmark">Trump Ký Lệnh Cấm Các Cơ Quan Liên Bang Sử Dụng Sản Phẩm Của Kaspersky Lab</a>
                                                    <span class="potato-view-count pull-left">
                                                        <span class="pull-right">
                                                            17 views
                                                        </span>
                                                        <i class="zmdi zmdi-eye pull-right"></i>
                                                    </span>
                                                </span>                        
                                            </div>
                                        </div>            
                                        <div class="widget-post-guru">
                                            <div class="row">
                                                <span class="col-md-2 col-xs-2 top_number">2</span>
                                                <span class="widget-guru-des">
                                                    <a href="#" rel="bookmark">Google Mở Văn Phòng Mới Ở Trung Quốc Chuyên Nghiên Cứu Trí Tuệ Nhân Tạo</a>
                                                    <span class="potato-view-count pull-left">
                                                        <span class="pull-right">
                                                            65 views
                                                        </span>
                                                        <i class="zmdi zmdi-eye pull-right"></i>
                                                    </span>
                                                </span>                        
                                            </div>
                                        </div>
                                        <div class="widget-post-guru">
                                            <div class="row">
                                                <span class="col-md-2 col-xs-2 top_number">3</span>
                                                <span class="widget-guru-des">
                                                    <a href="#" rel="bookmark">Google Mở Văn Phòng Mới Ở Trung Quốc Chuyên Nghiên Cứu Trí Tuệ Nhân Tạo</a>
                                                    <span class="potato-view-count pull-left">
                                                        <span class="pull-right">
                                                            65 views
                                                        </span>
                                                        <i class="zmdi zmdi-eye pull-right"></i>
                                                    </span>
                                                </span>                        
                                            </div>
                                        </div>
                                        <div class="widget-post-guru">
                                            <div class="row">
                                                <span class="col-md-2 col-xs-2 top_number">4</span>
                                                <span class="widget-guru-des">
                                                    <a href="#" rel="bookmark">Google Mở Văn Phòng Mới Ở Trung Quốc Chuyên Nghiên Cứu Trí Tuệ Nhân Tạo</a>
                                                    <span class="potato-view-count pull-left">
                                                        <span class="pull-right">
                                                            65 views
                                                        </span>
                                                        <i class="zmdi zmdi-eye pull-right"></i>
                                                    </span>
                                                </span>                        
                                            </div>
                                        </div>
                                        <div class="widget-post-guru">
                                            <div class="row">
                                                <span class="col-md-2 col-xs-2 top_number">5</span>
                                                <span class="widget-guru-des">
                                                    <a href="#" rel="bookmark">Google Mở Văn Phòng Mới Ở Trung Quốc Chuyên Nghiên Cứu Trí Tuệ Nhân Tạo</a>
                                                    <span class="potato-view-count pull-left">
                                                        <span class="pull-right">
                                                            65 views
                                                        </span>
                                                        <i class="zmdi zmdi-eye pull-right"></i>
                                                    </span>
                                                </span>                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>								
                        </div>


                </div>
            </div>
            <!-- Main Content: Start -->
        </div>
    </div>
</div>