<!-- footer content -->
<footer>
  <div class="pull-right">
    A Product of <a href="https://taichinhso.com">Tài Chính Số</a> © 2018
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->