<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="#" class="site_title"><i class="fa fa-moon-o"></i> <span>TCS</span></a>
    </div>
    
    <div class="clearfix"></div>
    
    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <%= image_tag("img.jpg", class: "img-circle profile_img", alt: "...") %>
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2>YLM1</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->
    
    <br />
    
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>Thông Tin</h3>
        <ul class="nav side-menu">
          
          <li><a><i class="fa fa-home"></i> Thông Tin Chung <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li>
                <%= link_to "Dashboard", "#" %>
              </li>
            </ul>
          </li>
          <li><a><i class="fa fa-desktop"></i> Quản lý<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><%= link_to "Quản lý Người Dùng", admin_users_path %></li>
              <li><%= link_to "Quản lý Quyền", admin_roles_path %></li>
              <li><%= link_to "Quản lý Danh Mục", "#" %></li>
              <li><%= link_to "Quản lý Bài Viết", "#" %></li>
              <li><%= link_to "Quản lý ICO", "#" %></li>
            </ul>
          </li>
        </ul>
      </div>
    
    </div>
    <!-- /sidebar menu -->
    
    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <%= link_to "" do %>
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      <% end %>
    </div>
    <!-- /menu footer buttons -->
    </div>
</div>