<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
  	<!-- Meta, title, CSS, favicons, etc. -->
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">		
	<link rel="shortcut icon" href="https://potato.fsoft.com.vn/wp-content/themes/smart-magazine/favicon.ico">
	<title>Tài Chính Số</title>
    <link rel="dns-prefetch" href="https://s.w.org/">

    <!-- Custom Theme files -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="archive category group-blog">
	<%= render "partials/navbar" %>

    <div id="content" class="container" data-attr="wrapper-layout-content">
	    <%= yield %>
    </div>

    <div id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <a href="/">                        
                        <%= image_tag "logo-footer-potato-xmas.png", width: "90%" %>
                    </a>
                </div>
                <div class="col-md-9 col-xs-12 potato-footer-content-right">
                    <div class="potato-think"> 
                        Think Fintech, Think TaiChinhSo
                    </div>
                    <div class="potato-des"> 
                        Chuyên trang về công nghệ Tài Chính, các chia sẻ về các công nghệ mới nhất.                    
                    </div>

                    <ul class="col-md-12 potato-footer-menu">
                        <li class="col-md-2">
                        	<a href="/">Home</a>
                        </li>
                        <li class="col-md-2">
                        	<a href="/fintech">Fintech</a>
                        </li>
                        <li class="col-md-2">
                        	<a href="/ico">ICO</a>
                        </li>
                        <li class="col-md-2">
                        	<a href="/chung-khoan">Chứng Khoán</a>
                        </li>
                        <li class="col-md-2">
                        	<a href="/cong-nghe">Công Nghệ</a>
                        </li>
                        <li class="col-md-2">
                        	<a href="/kinh-doanh">Kinh Doanh</a>
                        </li>
                    </ul>
                    <div class="potato-footer-line"></div>
                    <div class="copywrite">
                        <div class="col-footer-logo">
                            <span class="potato-copyright">    						
    							2018 © Tài Chính Số. All Rights Reserved.    							
                            </span>
                        </div>
                    </div>
                </div>
            </div>
			<div id="toTop" style="display: block;">
				<i class="glyphicon glyphicon-chevron-up"></i>
			</div>
		</div>
	</div>
  </body>
</html>
